<div class="container-fluid">
  <div class="row">
    <!-- Header -->
    <app-header></app-header>

    <!-- Sidebar -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebarOffcanvas">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body p-0">
        <app-navbar></app-navbar>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col">
      <div class="p-3" style="background-color: #ededed">
        <h4>{{ title }}</h4>
        <hr />
        <div class="d-flex justify-content-between mb-3">
          <ng-btn-add [text]="'Thêm mới'" [color]="'primary'" (click)="openCreateDialog()"></ng-btn-add>
        </div>

        <div class="col">
          <div class="d-flex justify-content-end">
            <input type="search" class="form-control w-auto" name="search" placeholder="Tìm kiếm..."
              [(ngModel)]="pageModel.strKey" />&nbsp;
            <ng-btn-search [text]="''" [color]="'success'" (click)="onSearch()"></ng-btn-search>
          </div>
        </div>

        <!-- Bảng dữ liệu -->
        <div class="table-responsive p-3">
          <table class="table table-bordered align-middle text-center">
            <thead class="table-primary">
              <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Tên đăng nhập</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td>{{ item.fullname }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone }}</td>
                <td>
                  <span [ngClass]="getStatusClass(item.status)" class="text-white px-2 py-1 rounded">
                    {{ getStatusText(item.status) }}
                  </span>
                </td>
                
                <td>
                  <ng-icon-tree></ng-icon-tree>&nbsp;&nbsp;
                  <ng-icon-info style="color: blue"></ng-icon-info>&nbsp;&nbsp;
                  <ng-icon-edit></ng-icon-edit>&nbsp;&nbsp;
                  <ng-icon-delete style="color: red"></ng-icon-delete>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Phân trang -->
          <app-pagination [currentPage]="pageModel.currentPage!" [totalPages]="totalPages!" [totalItems]="totalItems!"
            (pageChanged)="changePage($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>

  <div class="col text-center bg-light py-3">
    <app-footer></app-footer>
  </div>
</div>