<div class="container-fluid">
  <div class="row">
    <!-- Nút toggle -->
    <app-header></app-header>

    <!-- Sidebar -->
    <div class="col-md-2 collapse show bg-dark text-white min-vh-100" id="sidebar"
      style="overflow-y: auto; max-height: 100vh;">
      <app-navbar></app-navbar>
    </div>

    <!-- Main Content -->
    <div class="col">
      <div class="p-3" style="background-color: #ededed;">
        <h4>Dashboard</h4>
        

      </div>
    </div>
  </div>

  <div class="col text-center bg-light py-3">
    <app-footer></app-footer>
  </div>
</div>