<div class="d-flex flex-column h-100 p-4">
  <!-- Header -->
  <div
    class="d-flex justify-content-between align-items-center border-bottom pb-2"
  >
    <h3 class="m-0">Thêm người dùng</h3>
    <ng-icon-cancel
      (click)="onClose()"
      style="font-size: 18px"
    ></ng-icon-cancel>
  </div>
  <br />
  <!-- Body -->
  <div class="flex-grow-1 overflow-auto p-1">
    <form>
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ và tên</label>
        <input type="text" class="form-control" id="fullname" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" />
      </div>

      <!-- Thêm các trường khác nếu cần -->
    </form>
  </div>

  <!-- Footer -->
  <div class="border-top pt-3 mt-3 text-end">
    <ng-btn-close (click)="onClose()" [color]="'secondary'"></ng-btn-close
    >&nbsp;&nbsp;
    <ng-btn-save (click)="onSave()" [color]="'success'"></ng-btn-save>
  </div>
</div>
