<div class="p-3">
  <h5 class="text-center">LOGO</h5>
  <hr>
  <ul class="nav flex-column">
    <li class="side-nav-item" *ngFor="let item of menuItems; let i = index">
      
      <!-- Nếu có menu con -->
      <ng-container *ngIf="item.children?.length; else noChild">
        <a
          class="side-nav-link text-white text-decoration-none"
          data-bs-toggle="collapse"
          [attr.href]="'#collapseMenu' + i"
          [attr.aria-controls]="'collapseMenu' + i"
          aria-expanded="false"
        >
          <i class="uil-home-alt"></i>
          <span class="badge bg-success float-end">{{ item.children?.length }}</span>
          <span> {{ item.label }} </span>
        </a>

        <div class="collapse" [attr.id]="'collapseMenu' + i">
          <ul class="side-nav-second-level">
            <li *ngFor="let sub of item.children">
              <a class="side-nav-link text-white text-decoration-none" [routerLink]="['/' + sub.link]">{{ sub.label }}</a>
            </li>
          </ul>
        </div>
      </ng-container>

      <!-- Nếu không có menu con -->
      <ng-template #noChild>
        <a class="side-nav-link text-white text-decoration-none" [routerLink]="['/' + item.link]" >
          <span> {{ item.label }} </span>
        </a>
      </ng-template>

    </li>
  </ul>
</div>
